<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<body>
<div id="header" th:fragment="header">
<header id="encabezado">encabezado de la pagina</header>
 </div>
</body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index">CINEBOB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cargar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/cargarPelicula">Pelicula</a></li>
            <li><a class="dropdown-item" href="/cargarusuario">Usuario</a></li>
            <li><hr class="dropdown-divider"></li>
           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listado de
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/listadoPeliculas">Peliculas</a></li>
            <li><a class="dropdown-item" href="/listadotickets">Tickets</a></li>
            <li><a class="dropdown-item" href="/listadoUsuario">Usuario</a></li>
            <li><hr class="dropdown-divider"></li>
           
            
            
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<body>




</html>